* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;}
.header {
    position: fixed;
    width: 100%;
    padding-inline: 40px;
    padding-block: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(205, 250, 250);}
.header li{
    list-style-type: none;}
.header2 a {
            display: block;
            background-color: rgb(205, 250, 250);
            text-transform: uppercase;
            font-weight: 600;}
        a:hover
            .treepoint {
                background-size: cover;
                }
            .maisop2 {
                text-align: end;
                display: none;
                background-color: rgb(205, 250, 250);
                border-radius: 25px;}
            .maisop2 a {
                color: rgb(221, 39, 39);
                padding: 6px;
                text-decoration: none;}
            .maisop:hover .maisop2 {
                display: block;}
.calendario {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    padding: 10px;}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;}
.footer {
    padding-inline: 40px;
    padding-block: 10px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(205, 250, 250);}